/* Mobile First Design*/
body{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    }

/* header */
nav {
    background-color: #222;
    height: fit-content;
    padding: 5px;
    
}

.logo{
    max-height: 60px;
    max-width: 60px;
}

ul {
    display: grid;
    
}
a {
    text-decoration: none;
    color: #c78c06;
    font-size: 18px;
}

  
.home {
    color: #222;
}

li{
    text-align: center;
    padding: 8px;
}

li:nth-child(1){
    background-color: #c78c06;
}
li:nth-child(2){
    background-color: #c78c06;  
}

li:nth-child(7){
    display: flex;
    border: 1px solid #c78c06;
    padding: 0;
    justify-content: space-between;
}
.search {
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #ff58f7;
    width: 100%;
    border-style: none;
    border-right: 1px solid #c78c06;
    
}

.lupa {
    color: #c78c06;
}


/* Hero */

.hero {
    background-image:url(../assets/heroimage.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 10px;
}

.transparency{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color:hsla(255, 0%, 0%, 0.5);
    color: white;
}

h1{
   font-size: 50px;
   font-weight: bold; 
   color: #ff58f7;
   text-shadow: 1px 1px 1px #ffe6ac;
   padding-bottom: 10px;
}

p{
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.connect{
    background-color: #c78c06;
    font-size: 21px;
    padding: 15px;
    border: none;
    display: inline-flex;
    color: #000000;

             
}

#word{
    color:#ff58f7;
    text-shadow: 0.2px 0.2px 0.2px #ffe6ac;
    padding-right: 10px;
    font-weight: bold;
}

/* Footer */

footer{
    background-color: #222;
    color: #c78c06;
    padding: 10px;
    }

.footer{
    font-size: 12px;
}

.link {
    font-size: 12px;
    text-decoration: underline;

}


/* about us */

.about{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: #ffe6ac;

}

img {
    max-width: 100%;
    height: auto;
}

h2{
    font-size: 32px;
    font-weight: bold; 
    color: #ff58f7;
    text-shadow: 0px 0px 1px #000000;
    padding-bottom: 10px;
    padding-top: 10px;
 }

 /* Services Page*/


 .services {
    margin: 5px;
}

.job {
   
    color: black;
    margin: 5px;
}

.chores-1, .chores-2, .chores-3, .chores-4, .chores-5{
    background-color: #ffe6ac;
    margin: 5px;
    padding: 10px;

 }
 
 h3 {
    font-weight: bold;
    font-size: 14px;
 }

.cta{
    background-color: #000000;
    font-size: 12px;
    padding: 10px;
    border: none;
    color: white;
    display: inline-flex;
    align-items: center;
}

/*vision and team*/

.vision {
    background-image: url(../assets/mission.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 5px;
    color: white;
}

.ctaopacity{
    display: inline-flex;
    background-color:hsla(255, 0%, 0%, 0.8);
    font-size: 12px;
    padding: 10px;
    border-color: white;
    border-width:  0.5px;
    color: white;
    align-items: center;
    
}

.owner{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: #ffe6ac;
    margin: 5px;
    }

h4 {
    font-weight: bold;
    font-size: 10px;
    padding-top: 5px;
    border-bottom: 2px solid #c78c06;
}

/* Contact Page*/

.contactus {
    padding: 10px;
}
.contact {
    color: #000000;
    
}
.last {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    font-size: 12px;

}

label{
    padding-top: 5px;
}

button {
    margin-top: 10px;
    align-self: flex-start;
    background-color: #000000;
    color: #c78c06;
    border-style: none;
    padding: 5px;
}

table {
    font-size: 14px;
    border: 1px solid black;
    width: 100%;
    text-align: left;  

}

th{
    border: 1px solid black;
    padding: 10px;
}

.title {
    background-color: #ffe6ac;
    text-align: center;
}


/* Tablet Styling */

@media screen and (min-width: 760px) {


ul {
   grid-template-columns: auto auto auto auto auto auto auto;
      
}

li{
    display: grid;
    align-content: center;
    
}

li:nth-child(1){
    background-color: #222;
}
li:nth-child(2){
 height: max-content;
 align-self: center;
}

li:nth-child(7){
    height: max-content;
    align-self: center;
}
}

@media screen and (min-width: 761px) and (max-width: 1200px) {

/*Laptop Styling*/

/*Home*/

ul{
    margin-left: 100px;
    margin-right: 100px;
}
a{
        font-size:20px ;
    }

h1{ 
    font-size: 81px;
    display: inline-flex;
    flex-wrap: wrap;
}
.white{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.transparency {
    margin-left: 100px;
    margin-right: 100px;
}
#word {
    color: #000000;
    font-weight: lighter;
}
.connect {
    font-size: 24px;
    align-items: center;
}


.footer {
    margin-left: 100px;
    margin-right: 100px;
}

/*About Us*/

.about {
    display: inline-block;
    padding-left: 100px;
    padding-right: 100px;
    overflow: auto;

}
.lounge{
max-width: 50%;
float: left;
padding-right: 10px;
}
h2{
    color: #000000;
}
p{
    font-size: 16px;

}

/*Services*/

.services{
    display: grid;
    grid-template-areas: 
    'title title title title title title'
    'digital digital digital marketing marketing marketing'
    'video video web web print print' ;
    max-height: fit-content;
    margin-left: 100px;
    margin-right: 100px;
    
}


.job {
    grid-area: title;
}

.chores-1{
    grid-area: digital;
    
}

.chores-2 {
    grid-area: marketing;
    
}
.chores-3 {
    grid-area: video;

}
.chores-4{
    grid-area: web;
}
.chores-5{
    grid-area: print;
}

h3{
    font-weight: bold;
    font-size: 24px;
}

.cta{
    width: 100%;
    font-size: 18px;
    background-color: #222;
    justify-content: center;
   
}

/* Our vision and our Team*/


.vision{
    padding-left: 100px;
    padding-right: 100px;
}

.vision:nth-child(1) {
    padding-left: 0;
    font-weight: bold;
}

.teams{
    padding-left: 100px;
    padding-right: 100px;
    max-height: fit-content;
    }

.team {
    color: #ff58f7;
    
}

.owner{
    display: grid;
    grid: auto auto auto / 50% 50% ;
    overflow: auto;
    
}

.owner > img {
    padding-right: 10px;
}

.team-2 {padding-left: 15px;}

.team-3 {
    grid-area: 1 / 2;

}

.team-4 {padding-right: 15px;}

/* Contact */

.contactus {

    display: grid;
    grid: auto auto auto /  50% 50%;
    margin-left: 100px;
    margin-right: 100px;

}
.contact {
    grid-area: 1 / span 2;
}

.contact-2 {
    grid-area: 2 / 1;
}

.contact-3 {
    grid-area: 3 / span 2;
}

.contact-4 {
     margin-left: 10px;}
iframe{
    min-width: 100%;
    height: 90% ;
    

}


}